@model leave_management.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Leave allocations";
}

<h1>Allocate leave to employees</h1>

<table id="tblData" class="table">
    <thead>
        <tr>
           
            <th>
                Leave types
            </th>
            <th>
               Default days
            </th>
           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveTypes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.DefaultDays > 1)
                {
                    @Html.DisplayFor(modelItem => item.DefaultDays); <span>Days</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.DefaultDays); <span>Day</span>
                }
            </td>
            <td>
                <a asp-action="SetLeave" class="btn btn-outline-success" asp-route-id="@item.Id" title="Allocate to employees"><i class="fa fa-user" aria-hidden="true"></i> Allocate</a>
            </td>
        </tr>
}
    </tbody>
</table>
